{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Delete Account' %}{% endblock title %}

{% block content %}

<h2>{% trans "Sign Out" %}</h2>

<p>{% trans 'Are you sure you want to delete your account?' %}</p>

<form method="post" action="{% url 'account_delete' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"/>
  {% endif %}
  <input type="submit" value="{% trans 'Delete Account' %}" />
</form>

{% endblock content %}
