{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Your Profile' %}{% endblock title %}

{% block content %}

<h2>{% trans 'Your Profile' %}</h2>

<div>
  <h3>Account actions:</h3>
  <ul>
    <li><a href="{% url 'account_delete' %}">Delete Account</a></li>
  </ul>
</div>

{% endblock content %}
