{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Chronicle ID Service" %}{% endblock %}

{% block content %}

<h2>{% trans 'Chronicle ID Service' %}</h2>

<div>
  <h3>Your IDs:</h3>
  <ul>
    {% for handle in handles %}
      <li>
        <strong>{{ handle.url.handle }}</strong>
        <ul>
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="update" />
            <input type="hidden" name="id" value="{{ handle.id }}" />
            <li><strong>URI:</strong><input type="text" name="uri" value="{{ handle.url.get_data.val }}" /></li>
            <li><strong>Description:</strong><input type="text" name="description" value="{{ handle.desc.get_data.val }}" /></li>
            <li><input type="submit" value="Update" /></li>
          </form>
          <li>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete" />
                <input type="hidden" name="id" value="{{ handle.id }}" />
                <input type="submit" value="Delete" />
            </form>
          </li>
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>Create new ID:</h3>
  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="action" value="create" />
    <span>Select an ID generator</span><br />
    {% for _, gen in generators.items %}
    <input type="radio" id="generator_{{ gen.0 }}" name="generator"
        value="{{ gen.0 }}"{% if forloop.first %} checked="checked"{% endif %} />
    <label for="generator_{{ gen.0 }}">{{ gen.0 }}</label> - {{ gen.1 }}<br />
    {% endfor %}
    <label for="uri">URI:</label><input type="text" id="uri" name="uri" /><br />
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" /><br />
    <input type="submit" value="Generate" />
  </form>
</div>

{% endblock content %}
